<nav class="navbar bg-white shadow-sm fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="/static/logo4.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
      Snazzy Company
    </a>
    <div class="d-flex justify-content-end">
      <ul class="nav justify-content-end pb-3 mb-3">
        <li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary">Home</a></li>
        <li class="nav-item"><a href="/about" class="nav-link px-2 text-body-secondary">About</a></li>
      </ul>
    </div>

  </div>
</nav>
<div style="height:56px;"></div>